<main>
  
    <div class="container-fluid about-visual text-light">
      <div class="py-5">
          <div class="box mx-auto col-10 col-sm-10 col-lg-8 col-xl-6">
            <h1 class="about-title">About</h1>
            
              <p class="about-text">ながのCAKEは全国発送可能なケーキ屋さんです。</p>
              <p class="about-text">お子様からお年寄りの方までお召しあがりいただけるよう、</p>
              <p class="about-text">様々なバリエーションをご用意しております。</p>
              <p class="about-text">また、全国発送可能ですので「いつ」でも</p>
              <p class="about-text">「どこ」でもご注文いただけます。</p>
              <p class="about-text">ぜひ、ご注文ください。</p>
          
          </div>
      </div>
    </div>
  
</main>