<main>
  <p id="notice"></p>
  <div class="container">
  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
      <h1>ようこそ <strong></strong>ながのCAKEへ</h1>

      <p>このサイトは、ケーキ販売のECサイトになります。</p>
      <p>会員でない方も商品の閲覧はできますが、</p>
      <p>購入には会員登録が必要になります。</p>
      <div class="btn-wrapper col-10 mx-auto">
        <div class="row">

      <h4>新着商品<h4>
        <td><a class="navbar-brand"><%= image_tag '', size:"50x50" %></a></td>
          <p>商品名<p>
          <p>値段<p>
        <p><a class="navbar-brand"><%= image_tag '', size:"50x50" %></a><p>
         <p>商品名<p>
          <p>値段<p>
        <p><a class="navbar-brand"><%= image_tag '', size:"50x50" %></a><p>
          <p>商品名<p>
          <p>値段<p>
        <p><a class="navbar-brand"><%= image_tag '', size:"50x50" %></a><p>
          <p>商品名<p>
          <p>値段<p>


        </div>
      </div>
    </div>
  </div>
</div>
</main>