<h4>会員一覧</h4>

<table class="table">

  <tr>
    <th>会員ID</th>
    <th>氏名</th>
    <th>メールアドレス</th>
    <th>ステータス</th>
  </tr>

  <% @customers.each do |customer| %>
    <tr>
      <td><%= customer.id %></td>
      <td><%= link_to customer.full_name, admin_customer_path(customer) %></td>
      <td><%= customer.email %></td>
      <td>
        <% if customer.is_active %>
          <span class="text-success">有効</span>
        <% else %>
          <span class="text-secondary">退会</span>
        <% end %>
      </td>
    </tr>
  <% end %>

</table>

<%= paginate @customers %>