<div class="container">

  <div class="row">
    <div class="m-4">
      <h4>ジャンル一覧・追加</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 mt-3">
      <%= render 'layouts/errors', obj: @genre %>
      <%= render 'new', genre: @genre %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 mt-3">
      <table class="table table-hover table-inverse my-3">
        <tr class="text-center">
          <th>ジャンル</th>
          <th></th>
        </tr>
        <tbody>
            <% @genres.each do |genre| %>
              <tr class="text-center">
                <td><%= genre.name %></td>
                <td><%= link_to "編集する", edit_admin_genre_path(genre), class: "btn btn-sm btn-outline-danger" %></td>
              </tr>
            <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>