<div class="container">
  <div class="row">
    <div class=" col-lg-8 text-center">
       <h1>注文が完了しました！</h1>
       <p><%= link_to "注文一覧画面に戻る", orders_path, class: "btn btn-outline-dark text-right m-3" %></p>
    </div>
  </div>
</div>