<div class="container">
  <div class="row">
    <div class=" col-lg-10 mx-auto">
      <div class="text-center">
        <h1 class="my-5">注文ありがとうございます！</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-11 text-right my-5">
      <%= link_to "注文一覧画面に戻る", orders_path, class: "btn btn-outline-dark btn-sm" %>
    </div>
  </div>
</div>