<div class="container">
  <h4>注文情報入力</h4>
  <div class="row">
    <h5>支払い方法</h5>
    <%= f.radio_buttun :payment_method, "credit_card" %>
    <%= f.label :payment_method_credit_card, "クレジッドカード" %>
  </div>
  
  <div class="row">
    <h5>お届け先</h5>
  </div>
</div>